:root {
    --dvdb-purple: #22223b;
    --dvdb-offwhite: #edf2f7;
    --bulma-primary-h: 240deg;
    --bulma-primary-s: 27%;
    --bulma-primary-l: 18%;

    background-color: var(--dvdb-offwhite);
}

.bg-dvdb-purple {
    background-color: var(--dvdb-purple);
}

#homeNavbar {
    position: relative;
}

#homeNavbar .navbar-end {
    position: absolute;
    top: -2.5rem;
    right: 0.5rem;
}

#homeNavbar a.navbar-item:hover {
    color: white !important;
}

.login-button,
.login-fields,
.login-hr {
    width: 100%;
}

.login-hr {
    margin: auto;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.disable-scrolling {
    overflow: hidden;
}

.show {
    display: block !important;
}
.mobile-menu {
    display: none;
    background-color: var(--dvdb-purple);
    overflow: hidden;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
}

.layout-hero .hero-body {
    --bulma-hero-body-padding: 1rem 1.5rem;
}

.layout-section {
    --bulma-section-padding: 1.25rem 1rem;
}

.blog-post {
    /* --bulma-card-shadow: none; */
    /* border: silver 1px solid; */
}

.blog-post.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-post .card-footer {
    margin-top: auto;
}

.blog-post img,
.profile-image {
    border-radius: 0.25rem;
}

.blog-post img {
    object-fit: cover;
}

.profile-image {
    border: 2px solid silver;
}

.profile-image:hover {
    border-color: white;
}

.mobile-dropdown {
    position: absolute;
    right: 0.5rem;
}
/* .user-navbar {
    position: absolute;
    left: 0.5rem;
    top: -2.5rem;
} */

#gallery .column {
    padding: 0;
}

@media (min-width: 768px) {
    .login-button,
    .login-hr {
        width: 60%;
    }
    .login-fields {
        width: 50%;
    }

    .layout-hero .hero-body {
        --bulma-hero-body-padding: 3rem 1.5rem;
    }

    .layout-section {
        --bulma-section-padding: 3rem 1.5rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

:root::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.layout-hero {
    view-transition-name: header;
}

@media (prefers-reduced-motion: no-preference) {
    :root::view-transition-old(root) {
        animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }

    :root::view-transition-new(root) {
        animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
}
